:root {
    --themeColor: black;
}

html {
    background-color: white;
}

#img {
    margin: 0 auto;
    display: block;
}

#next {
    display: block;
    margin: 40px auto;
    padding: 10px 40px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: var(--themeColor);
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-align: center;
    text-decoration: none;
}

#next:hover {
    background-color: rgb(53, 53, 53);
}