:root {
    --themeColor: white;
}

html {
    background-color: black;
}

#img {
    margin: 0 auto;
    display: block;
}

#next {
    padding: 10px 30px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    background-color: var(--themeColor);
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
}

.next {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

a{
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

a:hover {
    color: rgb(95, 93, 93);
}
