:root {
    --themeColor: black;
}

#container {
    font-family: "Poppins", sans-serif;
    height: 150px;
    width: 350px;
    background-color: white;
    
    border: 2px solid var(--themeColor);
}

#container h1 {
    font-family: "Poppins", sans-serif;
    color: var(--themeColor);
    font-size: 2.5em;
}

#container p {
    font-size: 2em;
}

#slider {
    width: 55%;
}

#done-button {
    padding: 10px 40px;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: var(--themeColor);
    border-radius: 5px;
    cursor: pointer;
}

#done-button:hover {
    background-color: rgb(50, 50, 50);
}

img{
    float:left;
    padding: 15px;
    padding-top: 26px;
    padding-bottom: 26px;
}
#value{
    margin-top: 13px;
    padding-top: 20px;
    padding-left: 151px;
    margin-bottom: 1px;
}